<div class="row">
  <h2>Lojas</h2>
  <%= link_to "Importar arquivo CNAB", new_cnab_transaction_path, class: "btn btn-primary" %>
  <br/><br/>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Nome da Loja</th>
        <th>Nome do representante da loja</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.owner_name %></td>
          <td><%= number_to_currency store.balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
