<div class="row">
  <h1>Bem-vindo ao CNAB Importer</h1>
  <p>Esta é a página inicial da sua aplicação CNAB Importer.</p>
  <%= link_to "Importar Arquivo CNAB", new_cnab_transaction_path, class: "btn btn-primary" %>
</div>
